@import "tailwindcss";

@theme {

  --font-sans: "Hind Siliguri", "Noto Sans Bengali", sans-serif;


  --color-bazar-50: #f0fdf4;
  --color-bazar-100: #dcfce7;
  --color-bazar-500: #22c55e;
  --color-bazar-600: #16a34a;
  --color-bazar-700: #15803d;
  --color-bazar-800: #166534;
  --color-bazar-900: #14532d;

}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

/* Navbar-এর category row-এর scrollbar লুকানোর জন্য */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
